
#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sidebar.show-sidebar {
    right: 0;
}